html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body and html cover full height */
  font-family: sans-serif;
  background-color: #f0f2f5;
}

#root {
  min-height: 100vh; /* This will make the root container full height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
